body {
  height: 10000px;
}

.button {
  width: 50px;
  height: 50px;
  background-color: red;
  border-radius: 50%;
  /* Дозволяє зафіксувати будь-який елемент на екрані у користувача */
  position: fixed;
  right: 50px;
  bottom: 50px;
}

.box2 {
  width: 200px;
  height: 200px;
  background-color: green;
  position: relative;
  top: 200px;
  z-index: 1;
}

.box3 {
  width: 200px;
  height: 200px;
  background-color: orange;
}
