// >NORM<

$main-text: black;
$second-text: white;

// Black-friday-sales

$BFS-main-text: red;
$BFS-second-text: yellow;
$BFS-heading-text: orange;
$BFS-background-color: grey;

// СВято
// Свято-main-text: asdas;
