.warning {
  background-color: orange;
  @extend %button-placeholder;
  @include fonts(900, 42px, "monospace", italic);
}
.success {
  background-color: green;
  @extend %button-placeholder;
  @include fonts(900, 18px, "Roboto", italic);
}
.error {
  background-color: red;
  @extend %button-placeholder;
  @include fonts(900, 30px, "montserrat", italic);
  &:hover {
    background-color: yellow;
  }
  &:active {
    background-color: yellow;
  }
  &-message {
    color: white;
  }
}
